body {
    background-image: url(../img/login.jpg);
}

section {
    padding: 100px;
}

form, div {
    display: flex;
    flex-direction: column;
}

form {
    align-items: center;
    justify-content: center;
    gap: 20px;
}

div {
    gap: 10px;
}

h2 {
    font-size: 30px;
}

.bloco {
    gap: 20px;
}

.cadastro-obj {
    background: white;

    padding: 40px 80px;
    width: 20em;

    align-items: center;

    border: 1px solid #ffffff;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 5px #00000033;
    transition: .5s;

    gap: 40px;
}

.botoes {
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    padding-top: 20px;
}

input {
    padding: 5px;
}

.reset, .enviar {
    background-color: rgb(68, 68, 68);
    color: white;
    border-color: white;

    width: 10em;
}

.radio {
    flex-direction: row;
}

legend {
    padding-bottom: 15px;
    font-weight: bold;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.nascimento {
    padding: 20px 0;
}

.num-cartao {
    padding-top: 20px;
}

.reset, .enviar, input, select {
    font-size: 14px;

    border: 1px solid #444;
    border-radius: 30px;

    padding: 10px 15px;
    transition: .5s;
}

.reset:hover {
    color: white;
    background-color: red;
    border-color: white;
}

.enviar:hover {
    color: white;
    background-color: green;
    border-color: white;
}