/*body {
    background: linear-gradient(#fff,rgb(187, 255, 249));
}*/

h2,
h3 {
    font-family: 'Lobster', cursive;
    /* fonte da letra */
    font-size: 32px;
    /* tamanho da letra */
}

h2 {
    font-size: 32px;
    /* tamanho da letra */
}

h3 {
    font-size: 30px;
    /* tamanho da letra */
    margin-bottom: 20px;
}

.text{
    font-size: 18px;
    /* tamanho da letra */
    margin: 10px 20px;
    weight: 400;
    /* gramadura da letra */
    /* letter-spacing: 2px; */
    line-height: 28px;
    /* entre linhas */
}

.img-dino {
    width: 600px;
    /* largura */
    height: auto;
    /* altura */
}

.img-dino,
.video {
    border-radius: 1em;
    /* borda redonda */
    box-shadow: 5px 5px 5px #00000031;
    /* sombra */
}

#Conteiner_inicial,
#Conteiner_Video {

    padding: 100px;
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    align-items: center;
    
}
#conteiner_seg{
    display: inline;
    text-align: center;
    /* alinha o texto no centro */
    align-items: center;
}
#Conteiner_Video {
    justify-content: center;
    display:flex;
    align-items: center;
}

.Bloco_1, .Bloco_3, .Bloco_2{
   padding: 100px;

}

ol li:before {
    content: "• ";
    /* icone dos topicos */
}

#Conteiner_inicial,
#conteiner_seg,
#Conteiner_Video,
#Circuito_Programa elemento-referenciado {
    transition: 1s;
    /* determina o tempo de transição para volta do estado normal font-size: 40px; */
    cursor: pointer;
}
.Codigo{
    padding: 100px;
    font-size: 18px;
    line-height: 28px;
    /* entre linhas */
    justify-content: center;
    display: flex;
    

}
.codigo_container1 {
 
    background-color:#00000031;
    display:flex;
    flex-direction:column;
    border: 5px solid #00000031;
    justify-content: center;
    transition: 1s;
    /* determina o tempo de transição para volta do estado normal font-size: 40px; */
    cursor: pointer;
  
}
.codigo1{
    background-color:#00000031;
    width: 100%;
    /* margin: 0 50px 0 50px; */
}
.codigo1 p {
    margin: 25px 50px 25px 50px;
}
.codigo_title{
    text-align: center;
    width: 100%;
}
#Circuito_programa{
   padding: 100px;
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    align-items: center;
    justify-content: center;
   
}


#Circuito_programa div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#Circuito_programa{
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    justify-content: space-around;/*um espaço entre*/
    padding: 100px;
}
.Bloco_5 {
    width: 50%;
    /* largura */
    height: auto;
    /* altura */

   
   }


.imgCircuitoDino{
    border-radius: 1em;
    /* borda redonda */
    box-shadow: 5px 5px 5px #00000031;
    /* sombra */
    width: 420px;
    /* largura */
}
