body {
    background: linear-gradient(#fff,rgb(255, 255, 255));
}

h2,
h3 {
    font-family: 'Lobster', cursive;
    /* fonte da letra */
    font-size: 32px;
    /* tamanho da letra */
    margin-bottom: 20px;
}

.text , .vi{
    font-size: 18px;
    /* tamanho da letra */
    margin: 10px 20px;
    weight: 400;
    /* gramadura da letra */
    /* letter-spacing: 2px; */
    line-height: 28px;
    /* entre linhas */
}

.img-dino {
    width: 600px;
    /* largura */
    height: auto;
    /* altura */
}


#Conteiner_inicial,
#Conteiner_Video {

    padding: 50px;
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    align-items: center;
   
    justify-content: space-around;
}


ol li:before {
    content: "• ";
    /* icone dos topicos */
}

#Conteiner_inicial,
#conteiner_seg,
#Conteiner_Video,
#Circuito_Programa elemento-referenciado {
    transition: 1s;
    /* determina o tempo de transição para volta do estado normal font-size: 40px; */
    cursor: pointer;
}
.Codigo{
    padding: 100px;
    font-size: 18px;
    line-height: 28px;
    /* entre linhas */
    justify-content: center;
    display: flex;
    

}
.codigo_container1 {
 
    background-color:#00000031;
    display:flex;
    flex-direction:column;
    border: 5px solid #00000031;
    justify-content: center;
    transition: 1s;
    /* determina o tempo de transição para volta do estado normal font-size: 40px; */
    cursor: pointer;
  
}
.codigo1{
    background-color:#00000031;
    width: 100%;
    /* margin: 0 50px 0 50px; */
}
.codigo1 p {
    margin: 25px 50px 25px 50px;
}
.codigo_title{
    text-align: center;
    width: 100%;
}
#Circuito_programa{
   padding: 100px;
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    align-items: center;
    justify-content: center;
   
}


#Circuito_programa div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#Circuito_programa{
    display: flex; 
    text-align: center;
    /* alinha o texto no centro */
    justify-content: space-around;/*um espaço entre*/
    padding: 100px;
}
.Bloco_5 {
    width: 50%;
    /* largura */
    height: auto;
    /* altura */

   
   }


.imgCircuitoDino{
    border-radius: 1em;
    /* borda redonda */
    box-shadow: 5px 5px 5px #00000031;
    /* sombra */
    width: 420px;
    /* largura */
}


#conteiner_seg{
        padding: 100px;
         display: flex; 
         text-align: center;
         /* alinha o texto no centro */
         align-items: center;
       
         justify-content: space-around;
     }
     
     
     #Circuito_seg div{
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
     }
     
     #Circuito_seg{
         display: flex; 
         text-align: center;
         /* alinha o texto no centro */
         justify-content: space-around;/*um espaço entre*/
         padding: 100px;
     }
     .Bloco_2 {
         width: 50%;
         /* largura */
         height: auto;
         /* altura */
     
        
        }
    
         .Bloco_2,.Bloco_1, .Bloco_3,.Bloco_4, .Bloco_6 {

            padding: 60px;
            width: 50em;
        
            flex-direction: column;
            align-items: center;
        
            border: 1px solid #ffffff;
            border-radius: 30px;
            box-shadow: 2px 2px 8px 5px #00000033;
            
            gap: 30px;
        } 
        .imgCircuitoDino, .Bloco_3{

            border: 1px solid #ffffff;
            box-shadow: 2px 2px 8px 5px #00000033;
        
        }
        .Bloco_2:hover,.Bloco_1:hover, .Bloco_3:hover, .Bloco_4:hover, .imgCircuitoDino:hover, .Bloco_6:hover{
 
            transform: scale(1.1);
            transition: 0.3s;
        
        }
        .Bloco_2,.Bloco_1{
         
            padding: 20px;
            width: 40em;
            flex-direction: column;
            align-items: center;
        
            border: 1px solid #ffffff;
            border-radius: 30px;
            box-shadow: 2px 2px 8px 5px #00000033;
            
            gap: 30px;
        
        
        }
