#principal {
    background: url(../img/principal.png);
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 15% 0;
}

.text-principal {
    display: none;
}

/* tablet */
@media screen and (min-width: 768px) {
    
}

/* desktop */
@media screen and (min-width: 1024px) {
    #principal {
        background: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.367)), url(../img/principal.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        height: 0;
        
        color: rgb(255, 255, 255);

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .text-principal {
        display: inline-block;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 38px;
    }
}
