ol li:before {
    content: "• ";
}

ol li{
    padding: 5px;
}

.foto{
    border-radius: 20px;
    height: 200px;
}

.valor{
    font-size:35px;
}
.botao01{
    background-color: #373b37; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 25px;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.foto1 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #ffffff;
}

.bla{
    padding-top: 100px;
}
#bla:hover{
    transform: scale(1);
}

.icone {
    width: 30px;
    height: auto;
}
section {
    padding: 100px;
}

.fotos {
    display: none;
  
}
.foto:hover{
    transform: scale(1.1);
}
.texto, .texto2{
    background: var(--bloco-background);
    padding: 25px;
    width: 15em;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 5px #00000033;
    transition: .5s;
    gap: 30px;
}
.texto:hover, .componente2:hover, .comentario:hover{
    transform: scale(1.1);
}

.foto1, .componente2, .foto{
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 8px 5px #00000033;
}

.local{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

}


.A{
    padding-bottom: 2px;
}

.valor{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cartao, .caminhao, .sacola{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 10px;
}

.cosii{
    padding-bottom: 15px;
    padding-top: 35px;
}

.B{
    padding: 20px 0;
    
    
}

.text, .img {
    display: flex;
}

.comentario{
    padding: 700px;
    width: 1000px;
}

.text, .img, .caixa, .comentario{
    background: var(--bloco-background);
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 5px #00000033;
    transition: .5s;
    gap: 30px;
    align-items: center;

}
.img{
    margin-right: 35px;
}
.text:hover, .texto2:hover, .componente2:hover{
    transform: scale(1.1);
}
.img:hover, .foto1:hover{
    transform: scale(1.1);
}

.hackathon {
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 100px;
}

.funcionamento{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
}

.component{
    padding-bottom:40px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    align-items: center;
}

.componente2{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #ffffff;

}
.Comentarios{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;   
}

#botao{
    background-color: #373b37; 
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}
#fname{
    border-radius: 20px;
    padding: 5px 10px;
}
.estrelas input[type=radio] {
    display: none;
  }

  .estrelas label i.fa:before {
    content:'\f005';
    color: rgb(255, 230, 0);
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}

.produto{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.video{
    width: 200px;
}

@media screen and (min-width: 1024px) {

    .produto{
        flex-direction: row;
    }
    
    .foto{
        height: 400px;
    }

}


@media screen and (min-width: 768px) {
    
    .hackathon, .funcionamento, .component{
        flex-direction: row;
    }
    .fotos {
        display: flex;
        gap: 40px;
      
    }
    
} 
