body{
    font-family: 'Open Sans', sans-serif;
    background-color: #d4c9c9;
}  
h1{
    color: rgb(6, 5, 65);
    text-align:center;
    font-size: 85px;
    padding: 30px;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 60px;
    padding: 30px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    
}
.A{
    padding-left: 25cm;
}
.B{
    padding-left: 25cm;
}
.texto{
    width: 50%;
    height: 200px;
    padding-left: 30px;
}
.img{
    width: 50%;
    height: 200px;
}
.produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}