:root {
    /* colors */
    --logo-color: #fff;
    --header-footer-color: #fff;
    --text-color: #444;
    --link-color-1: #ffffff;
    --cabecalho-rodape-color-1: #000000;
    --cabecalho-rodape-color-2: #444;
    
    /* fonts */
    --main-font: 'Robolo', sans-serif;
    --logo-font: 'Righteous', sans-serif;
    --title-font: 'Lobster', cursive;
}

body {
    font-family: var(--main-font);
    
    color: var(--text-color);
}

header, footer {
    color: var(--logo-color);
    background: linear-gradient(to right, var(--cabecalho-rodape-color-1), var(--cabecalho-rodape-color-2));

    padding: 30px;
    gap: 30px;
}

header, footer, .links, .rodape, .logar {
    display: flex;
}

header, footer, .links-cabecalho, .rodape {
    flex-direction: column;
}

header, .rodape, .rodape-links {
    justify-content: space-around;
    align-items: center;
}

.links, .rodape-copy {
    text-align: center;
}

.link-cabecalho, .social-link {
    color: var(--link-color-1);

    text-decoration: none;
    transition: .5s;
}
.links-cabecalho, .rodape {
    gap: 20px;
}

/* titles */
h2, h3 {
    font-family: var(--title-font);
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

/* cabecalho */
header {
    box-shadow: 5px 5px 5px #00000031;
}

h1 a {
    font-family: var(--logo-font);

    color: var(--logo-color);

    font-size: 40px;

    text-decoration: none;
}

.links {
    text-transform: uppercase;
    
    gap: 25px;
}

.link-cabecalho, .nickname {
    font-size: 16px;
}

.link-cabecalho:hover {
    color: rgb(226, 193, 103);
}

.logar {
    padding: 10px 15px;

    border: 1px solid #fff;
    border-radius: 30px;

    align-items: center;
    gap: 20px;
}

.nickname {
    font-family: var(--main-font);
}

.img-logar {
    width: 40px;
    height: auto;

    border-radius: 100px;
}

.img-principal-logar { /**/
   width: 400px;
   height: auto;
}

/* rodape */
footer {
    gap: 30px;
}

.img-icon {
    width: 30px;
    height: auto;
}

.rodape-copy {
    color: var(--header-footer-color);

    font-size: 14px;
}

/* tablet */
@media screen and (min-width: 768px) {
    .links-cabecalho {
        flex-direction: row;
        justify-content: center;
    }
}

/* desktop */
@media screen and (min-width: 1024px) {   
    header, .links, footer, .rodape {
        display: flex;
        flex-direction: row;
    }
    
    header, .rodape {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    
    /* rodape */
    footer {
        flex-direction: column;
    }
}
